<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GutterLineNumbers</key>
	<true/>
	<key>GutterMaster</key>
	<true/>
	<key>RememberLastViewConfiguration</key>
	<true/>
	<key>TreeViewSyntaxColoring</key>
	<true/>
	<key>TextEditorColorDefault</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmg4BFFD6DgEUUPoOARRQ+AYY=</data>
	<key>TextEditorColorKey</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmg5HtfD6DCKzcPoPVeOk+AYY=</data>
	<key>TextEditorColorKeyword</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmg3E9Kj+D9P1UPYP8qRE/AYY=</data>
	<key>TextEditorColorNumber</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmg+Hg4D0Ag9DPTz8Bhg==</data>
	<key>TextEditorColorString</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmg8XERD+D0dDQPYOxsLA9AYY=</data>
	<key>TextEditorFont</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmplY3QAhYQBaRiEBVsyNGNdBgAAAA4AAAD//k0AbwBuAGEAYwBvAAAAhAFmCoQBYwCYAZgAmACG</data>
</dict>
</plist>
